:root {
  --link-active: #2196f3;
}
:root {
  --small-text: #757575;
}
:root {
  --white-text: #ffffff;
}
:root {
  --default-text: #212121;
}
:root {
  --background-text-temp: #2f303a;
}
:root {
  --background-button: #f5f4fa;
}
:root {
  --footer-text: rgb(255, 255, 255, 0.3);
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1 {
  margin: 0;
}
h2 {
  margin: 0;
}
h3 {
  margin: 0;
}
h4 {
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--default-text);
  width: 1600px;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: inherit;
  line-height: 1.17;
}
.blue {
  color: var(--link-active);
}
.navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
}
.contact-links {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
}
.navigation > .item > a {
  color: inherit;
  text-decoration: none;
}
.navigation > .item > a:hover,
.navigation > .item > a:focus {
  color: var(--link-active);
}
.navigation > a {
  text-decoration: none;
}
.navigation > a:hover,
.navigation > a:focus {
  color: var(--link-active);
}
.small {
  color: var(--small-text);
}

h1 {
  font-weight: 900;
  font-size: 44px;
  color: var(--white-text);
  text-align: center;
  line-height: 1.37;
}
.main-button {
  font-weight: 700;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.9;
  border: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.paragraph-title {
  font-size: 14px;
  line-height: 1.17;
  margin-bottom: 10px;
  width: 270px;
}
.paragraph-text {
  font-size: 14px;
  line-height: 1.7;
}
.section-title {
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
}
.name {
  font-weight: 500;
  line-height: 1.17;
}
.footer {
  color: var(--white-text);
}
.footer-text {
  line-height: 1.7;
  font-size: 14px;
  padding: 0;
}
.background {
  background-color: var(--background-text-temp);
}
.fade {
  color: var(--footer-text);
}
.filters button {
  background-color: var(--background-button);
  font-weight: 500;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.6;
  border: none;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-1 > button:hover,
.section-1 > button:focus {
  cursor: pointer;
  background-color: var(--link-active);
  color: var(--white-text);
}
.picture h3 {
  font-size: 18px;
  line-height: 2;
}
.picture span {
  line-height: 1.9;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.header-border {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo-top {
  padding-top: 24px;
  padding-bottom: 25px;
  width: 145px;
}
.navigation {
  display: flex;
  padding: 32px 371px 32px 93px;
  margin: auto;
}
.navigation > .item {
  width: 53px;
}
.navigation > .item:not(:last-child) {
  margin-right: 46px;
}

.main-header {
  padding-bottom: 30px;
  margin: 0 auto;
  width: 696px;
}
.main-button {
  padding: 10px 41px 10px 42px;
  border-radius: 4px;
  width: 200px;
}
.section-1 {
  padding-bottom: 106px;
  padding-top: 106px;
}
.section-about > .item:not(:last-child) {
  margin-right: 30px;
}
.section-about {
  position: relative;
}
.flexbox {
  display: flex;
  justify-content: space-evenly;
}
.text-center {
  text-align: center;
}
.footer-space {
  padding-top: 60px;
  justify-content: flex-start;
}
.margin-right {
  margin-right: 70px;
}

.address-position {
  margin-top: 20px;
  padding-bottom: 60px;
}
.background-darker {
  background-color: #f5f4fa;
}
.image-margin {
  margin: 0;
}
.section-team > .item:not(:last-child) {
  margin-right: 30px;
}
.section-team > .item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.figcaption > .name {
  margin-top: 30px;
  margin-bottom: 10px;
}
.figcaption > .small {
  display: block;
  padding-bottom: 30px;
}
.footer-text > .item:not(:last-child) {
  margin-bottom: 9px;
}
.filters {
  justify-content: center;
  margin-bottom: 50px;
  padding: 0;
}
.filters > .item:not(:last-child) {
  margin-right: 8px;
}
.filters > .item > button:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filters > .item > button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filters > .item > button:hover,
.filters > .item > button:focus {
  cursor: pointer;
  background-color: var(--link-active);
  color: var(--white-text);
}
.picture {
  padding: 0;
  flex-wrap: wrap;
  gap: 30px;
}
.picture > .item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.figure-table > h3 {
  padding: 20px 24px 4px 24px;
}
.figure-table > .small {
  display: block;
  padding: 0 24px 20px 24px;
}

.figure-table {
  border-bottom: 1px solid rgba(238, 238, 238, 1);
  border-right: 1px solid rgba(238, 238, 238, 1);
  border-left: 1px solid rgba(238, 238, 238, 1);
}
.no-gap {
  display: block;
}
.envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--small-text);
}
.envelope:hover {
  fill: var(--link-active);
}
.envelope:focus {
  fill: var(--link-active);
}
.smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
.smartphone:hover {
  fill: var(--link-active);
}
.smartphone:focus {
  fill: var(--link-active);
}
.back-img {
  max-width: 1600px;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("/goit-markup-hw-04/images/Img.svg");
}

.icons {
  display: block;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 25px 100px;
  margin-bottom: 30px;
}
.client-logo {
  display: block;
  width: 170px;
  height: 92px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 16px 32px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-logo:hover {
  fill: var(--link-active);
  border-color: var(--link-active);
  cursor: pointer;
}
.icon-team {
  display: flex;
  border-radius: 50%;
  fill: #afb1b8;
  padding: 12px;
  margin-bottom: 30px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-team:hover {
  background-color: #2196f3;
  fill: #ffffff;
  cursor: pointer;
}
.icon-footer {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social {
  width: 206px;
}
.footer-social > .flexbox {
  justify-content: space-between;
}
.footer-social > .paragraph-title {
  margin-bottom: 20px;
  color: #ffffff;
}
.footer-social > ul > li:not(:last-child) {
  margin-right: 10px;
}
.contact-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--small-text);
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-links:hover,
.contact-links:focus,
.contact-links:active {
  color: var(--link-active);
}
.header-icons {
  --color2: currentColor;
  fill: var(--color2);
  margin-right: 10px;
}
.header > a:last-child {
  margin-left: 30px;
}
.modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  position: fixed;
  border-radius: 4px;
  z-index: 2;
  opacity: 1;
  visibility: visible;
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}
.overlay-captions {
  color: #ffffff;
  position: absolute;
  width: 370px;
  bottom: 0;
  font-size: 14px;
  line-height: 1.17;
  display: block;
  background: rgba(47, 48, 58, 0.8);
  padding: 27px 90px;
}
.picture > .item {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation > .item > a {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-active {
  position: relative;
}
.is-active:after {
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  bottom: -33px;
  right: 0;
  border-radius: 2px;
  background-color: var(--link-active);
}
.box {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  background: rgba(33, 150, 243, 0.9);
  width: 370px;
  height: 294px;
  display: flex;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item:hover .overlay {
  transform: translateY(0);
}
.overlay > p {
  display: flex;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
  padding: 49px 45px 49px 24px;
}
.modal-overlay {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    visibility 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 6px;
  background-color: #ffffff;
}
.form {
  margin-left: 78px;
}
.form > label > .paragraph-title {
  color: #ffffff;
  margin-bottom: 20px;
}
.form > form > input {
  background: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  color: #ffffff;
  padding: 15px 0 15px 16px;
  margin-right: 12px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.form > form > button {
  background-color: var(--link-active);
  color: #ffffff;
  padding: 10px 28px 10px 42px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.main-button > svg {
  margin-left: 24px;
}
.modal > p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  padding: 40px 40px 2px 40px;
}
.modal > form > label > a {
  color: var(--link-active);
}
.modal > form > button {
  background-color: var(--link-active);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: block;
  margin: 0px 164px 40px 164px;
  cursor: pointer;
}
.label {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(117, 117, 117, 1);
}
.inputs {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 40px 20px 40px;
}
.inputs > textarea {
  resize: none;
  display: block;
  height: 120px;
  padding: 12px 16px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(117, 117, 117, 1);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal > form > label.paragraph-text {
  display: block;
  text-align: center;
  margin-bottom: 30px;
  cursor: pointer;
}
.inputs > input {
  height: 40px;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.inputs > label {
  padding-top: 10px;
  padding-bottom: 4px;
}
.inputs :nth-child(3) {
  position: absolute;
  top: 38px;
  left: 50px;
}
.inputs :nth-child(6) {
  position: absolute;
  top: 109px;
  left: 50px;
}
.inputs :nth-child(9) {
  position: absolute;
  top: 175px;
  left: 50px;
}
.inputs > input:focus + svg,
.inputs > input:focus {
  border-color: rgba(33, 150, 243, 1);
  fill: var(--link-active);
}
.inputs > textarea:focus {
  border-color: rgba(33, 150, 243, 1);
}
.modal > form > label.paragraph-text::before {
  display: inline-flex;
  position: absolute;
  bottom: 106px;
  left: 55px;
  content: "";
  height: 15px;
  width: 16px;
  border: 2px solid black;
  border-radius: 2px;
  background-repeat: no-repeat;
}
input[type="checkbox"] {
  appearance: none;
}
input[type="checkbox"]:checked + label::before {
  background-color: #2196f3;
  border: none;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' viewBox='-2 -2 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
}
